/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color:#FFFEF8;
	;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav a{
	text-decoration: none;
	color:black
}

li:hover, a:hover{
	color: #B1663C;
}

.logout{
	cursor:pointer;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	margin-top: 4em;
}
/*****************************************************************/
.filtersContainer{
	display:flex;
	width:560px;
	margin:auto;
	justify-content: space-between;
	margin-bottom: 30px;
}
.filtersContainer div, .btnAddPhoto{
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	border:1px solid;
	border-radius: 20px;
	padding:10px 20px;
	cursor:pointer;
}

.filtersContainer .btnActive{
	background-color: #1D6154;
	color:white;
} 

.filtersContainer div:hover{
	background-color: #1D6154;
	color:white;
}

.edit{
	position: absolute;
    top: 0px;
	left:0px;
	width:100%;
	color:white;
	background-color: black;
	height:50px;
	text-align:center;
	line-height:40px;
	
}

.btnModifier{
	position: relative;
    top: -47px;
    left: 700px;
	width: 80px;
	cursor: pointer;
}

.hidden{
	display:none;
}
.fa-pen-to-square{
	color: black
}

/***************************************************************/

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}



.galleryModale{
	width: 68%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    margin: 60px auto;
}

.gallery img, .galleryModale img {
	width: 100%;
	object-fit: cover;

}

/**********************************************************/
#contact, #login {
	width: 50%;
margin: auto;
}
#contact > *, #login > *{
	text-align: center;

}
#contact h2, #login h2{
	margin-bottom: 20px;
}
#contact form , #login form{
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input , #login input{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login input[type="submit"]{
	height:40px;
	margin-top:30px;;
}
#login a{
	color:black;
}

#login a:hover{
	color:#B1663C;
}

#contact label , #login label{
	margin: 2em 0 1em 0;
}
/********************************************************/

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
/************************************************/

#modale{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: auto;
}
.modaleContainer{
	position:relative;
    background-color: white;
    border-radius: 15px;
    width: 43vw;
    height: fit-content;
    text-align: center;
    margin-top: 1170px;
    margin-bottom: 20px;

}

.modaleContainer h1{
	position:relative;
	font-size:26px;
	color :black;
	font-family: Work Sans;
	font-weight: 400;
	margin-top:40px;
}

.btnAddPhoto{
	background-color: #1D6154;
	color:white;
	margin-bottom: 40px;
}

.galleryModale figure{
	position:relative;
}

.trashIcon{
	display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    position: absolute;
    right: 0px;
}

.trashIcon .fa-sm{
    font-size: .800em;
    line-height: 0.9em;
}

.fa-trash-can{
	position: absolute;
	top :5px;
	right:5px;
	width:10px;
	height:10px;
	color: #ffffff;
	padding:3px;
	background-color: black;
}

.fa-xmark{
	position:absolute;
	top:30px;
	right:30px;
	cursor: pointer;
}

.greyLine{
	margin:40px auto;
	width:420px;
	height:1px;
	background-color: #B3B3B3;
}

/************************************************/

footer{
margin-top:100px;
background-color: white;
padding: 15px 0;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 1em
}
footer nav li{
	font-size: 1em;
}

